sudo: required

language: php

php:
  - 7.4

env:
  matrix:
    - COMPOSER_FLAGS=""

before_install:
  - sudo apt-get update
  - travis_retry composer self-update --preview

install:
  - travis_retry composer update --prefer-source $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit

branches:
  only:
    - master
